seed: 42

defaults:
   - override hydra/job_logging: default
   - override hydra/hydra_logging: default

model:
  checkpoint: 500
  name: "/mnt/pdata/caf83/tabular_reasoning/outputs/${wandb.run_name}/checkpoint-${model.checkpoint}"
  policy_name: "Qwen/Qwen2.5-7B-Instruct"
  reward_name: "Qwen/Qwen2.5-0.5B-Instruct" #Qwen/Qwen2.5-0.5B-Instruct
  max_seq_length: 1024
  load_in_4bit: true
  fast_inference: false
  
  # Common settings
  lora_rank: 64  # Base LoRA rank
  use_gradient_checkpointing: true
  
  # Policy model specific
  policy_lora_rank: 128  # Optional: override base rank for policy
  policy_learning_rate: 1e-5
  
  # Reward model specific  
  reward_lora_rank: 32  # Optional: override base rank for reward
  reward_learning_rate: 1e-5
  
dataset:
  name: "gsm8k_kd"   # Change to "gsm8k_kd" (or other) to switch datasets
  split: "test"

sampling:
  n_samples: 16
  temperature: 1
  top_p: 0.95

eval:
  ks : [1, 3, 5, 10]
  use_vllm: true
  per_device_eval_batch_size: 16
  report_to: "wandb"

wandb:
  project: "expert_reasoning"
  entity: eth_dlad_team32
  run_name: "irl_run_7B_mixed_1e-5"